{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Профессия аналитик</h1>
        <img src="{% static 'main/img/mainpic.jpg' %}">
        <p>Системный аналитик — это IT-специалист широкого профиля, который отвечает за сбор требований к системе, занимается проектированием технического решения и ставит задачи команде разработки. То есть он понимает внутреннее устройство технических систем, и при этом может «переводить» с языка бизнеса на язык разработки. Поэтому часто он выполняет и менеджерские задачи. Например, организовывает коммуникации в команде, формулирует задачи, проверяет их выполнение и принимает результаты.</p>
    </div>
{% endblock %}